.text {
    text-align: center;
}

.productList {
    color: black;
    background-color: #f6f6f6;
    font-size: 16px;
    font-family: sans-serif;
    text-align: center;
    padding: 18px;
}

.post {
    display: inline-table;
    border: 2px solid #c3c5c9;
    border-radius: 30px;
    margin: 7px;
    padding: 10px;
    width: 125px;
}

.photo {
    width: 90px;
    margin-top: 10px;
}

.description {
    font-weight: bold;
}

.bor {
    border-top: 1px solid #c3c5c9;
    padding: 8px;
    text-align: center;
}