body {
    margin-left: 10%;
    margin-right: 10%;
}

.menu {
    list-style: none;
    text-align: center;
    padding: 0;
}

.menu li {
    background-color: rgb(219, 197, 240);
    width: 180px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
    border-bottom: 5px solid rgb(190, 132, 245);
    border-radius: 10px 10px 0px 0px;
    display: inline-block;
}

.menu li a {
    font-size: 28px;
    text-decoration: none;
    display: block;
}

.menu li a:active {
    color: white;
}

.menu li:hover {
    transition: 1s;
    background-color: pink;
}

.description {
    color: black;
    width: 50%;
    font-size: 1.5em;
    overflow: scroll;
    background-color: coral;
    text-align: justify;
    opacity: 0.7;
}

.post {
    display: flex;
    justify-content: center;
    height: 250px;
}

.photo, .description {
    margin: 5px;
}

.photo img {
    width: 240;
}